#resistor-color-container {
  display: flex;
  flex-direction: flex-start;
  align-items: center;
  height: 300px;
  width: 100%;
  border: solid black 5px;
}

[id^="resistor-color-value"] {
  width: 20%;
  height: 50%;
}
